catalyst==21.06
tqdm==4.50.2
matplotlib==3.3.2
lxml==4.6.3
dawg==0.8.0
rnnmorph==0.4.0
git+git://github.com/nsu-ai/russian_g2p@2030552
keras >= 2.1.4,<2.4.0
tensorflow==1.15
h5py==2.10.0
TextGrid==1.5